.skill-zone{
    left: 50%;
    font-size: 50px;
    display: table-cell;
    position: absolute;
    top: 60%;
    right: 0%;
    vertical-align: middle;
    max-height: 90%;
    animation: fadeIn 1s 1s backwards;
    p{
        font-size: 18px;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        min-width: fit-content;
    }
    li{
        display: flex;
        margin-left: 300px;
    }
    hr{
        width: 500px;
    }
    .progress-bar-1{
        margin-top: 50px;
        margin-left: -15%;
        width: 500px;
        height: 10px;
        background-color: #808080;
        
    }
    .progress-bar-1 > div{
        background-color: #be0575;
        width: 85%;
        height: 10px;
        animation: progress1 2s 1s linear;
    }
    .progress-bar-2{
        margin-top: 50px;
        margin-left: -9.1%;
        width: 500px;
        height: 10px;
        background-color: #808080;
        
    }
    .progress-bar-2 > div{
        background-color: #203fb6;
        width: 80%;
        height: 10px;
        animation: progress2 2s 1s linear;
    }
    .progress-bar-3{
        margin-top: 50px;
        margin-left: -5%;
        width: 500px;
        height: 10px;
        background-color: #808080;
        
    }
    .progress-bar-3 > div{
        background-color: #ff00ff;
        width: 75%;
        height: 10px;
        animation: progress3 2s 1s linear;
    }
    .progress-bar-4{
        margin-top: 50px;
        margin-left: -7.5%;
        width: 500px;
        height: 10px;
        background-color: #808080;
        
    }
    .progress-bar-4 > div{
        background-color: #00ffc8;
        width: 65%;
        height: 10px;
        animation: progress4 2s 1s linear;
    }
}
@keyframes progress1{
    0%{
            width: 0%;
    }
    25%{
            width: 21%;
    }
    50%{
        width: 43%;
    }
    75%{
            width: 64%;
    }
    100%{
        width: 85%;
    }
}
@keyframes progress2{
    0%{
        width: 0%;
    }
    25%{
        width: 19%;
    }
    50%{
        width: 38%;
    }
    75%{
        width: 56%;
    }
    100%{
        width: 80%;
    }
}
@keyframes progress3{
    0%{
        width: 0%;
    }
    25%{
        width: 18%;
    }
    50%{
        width: 35%;
    }
    75%{
        width: 53%;
    }
    100%{
        width: 75%;
    }
}
@keyframes progress4{
    0%{
        width: 0%;
    }
    25%{
        width: 15%;
    }
    50%{
        width: 30%;
    }
    75%{
        width: 45%;
    }
    100%{
        width: 65%;
    }
}