.nav-bar{
    background-color:#181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}
.logo{
    display: block;
    padding: 8px 0;
}
.logo > img{
    display: block;
    margin: 8px auto;
    width: 24px;
    height: auto;
    &.sub-logo{
        width: 50px;
    }
}
nav{
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    margin-top: -120px;
    top: 50%;
    width: 100%;
    a{
        font-size: 33px;
        color: #4d4d4e;
        display: block;
        line-height: 71px;
        height: 71px;
        position: relative;
        text-decoration: none;
        i{
            transition: all 0.3s ease-out;
        }
        &:hover{
            svg{
                opacity: 1;
                color: #be0575;
            }
        }
    }
}
a.active{
    svg{
        color: #be0575;
    }
}
ul{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    li{
        a{
            padding: 7px 0;
            display: block;
            font-size: 30px;
            line-height: 16px;
        }
        &:hover svg{
            color: #be0575;
        }
    }
}
.icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
    &:hover {
      -webkit-animation: icon3d 200ms infinite;
            animation: icon3d 200ms infinite;
    }
  }
  
  @keyframes icon3d {
    0% {
      text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1);
    }
    25% {
      text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);
    }
    50% {
      text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
    }
    75% {
      text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
    }
    100% {
      text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);
    }
  }